/* Box sizing rules and reset*/
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html {
	font-family: "Rubik", sans-serif;
	/* resetting font size to 10px makes rem math much easier*/
	font-size: 10px;
	box-sizing: border-box;
	/* height: 100%; */
}
/*Set secting heading font*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Rubik", sans-serif;
}
/* Set core body defaults */
body {
	min-height: 100%;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	position: relative;
	overflow: hidden;
}
P,
li {
	font-size: 1.6rem;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}
a {
	text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* ########## END GLOBAL ########## */
/* ########## UTILITIES ########## */

:root {
	--blk: #180126;
	--wht: #ffffff;
	--gry: #b8b4b4;
	--drk-gry: #666666;
	--ylw: #ffd84c;
	--drk-ylw: #ffc04c;
	--org: #f82508;
	--width: 160rem;
	--h3: 2.1rem;
	--h2: 2.8rem;
	--h1: 3.7rem;
	--footer-height: 30vh;
}

/* button:active,
button:focus {
	outline: var(--ylw) solid 3px;
} */
/* ########## MAIN SECTION########## */

main {
	width: 100%;
	/* max-width: 1600px; */
	overflow: hidden;
	height: 100vh;
	/* background: url(./images404/fireman-bg.png) no-repeat fixed center/cover; */
}

.container {
	width: 100%;
	height: 90vh;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;
}
.message p {
	font-size: var(--h2);
	line-height: 33px;
	text-align: center;
}
.message p:first-child {
	font-weight: 700;
}
.message a {
	height: 50px;
	min-height: 50px;
	width: 100%;
	max-width: 200px;
}
.btn {
	height: 50px;
	min-height: 50px;
	width: 100%;
	max-width: 200px;
	background: var(--ylw);
	color: var(--blk);
	font-size: 2rem;
	font-weight: bold;
	font-family: "Rubik", sans-serif;
	border-radius: 2px;
	cursor: pointer;
	margin-top: 3rem;
}
.btn:hover {
	background: var(--drk-ylw);
}
.btn:active {
	transform: scale(0.8);
	/* transition: 100ms all ease-in-out; */
}

.fire-elements {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}
.flames {
	position: absolute;

	bottom: -10px;
	left: 0;
	z-index: 999;
	filter: drop-shadow(0.3em 0.3em 0.9em rgba(0, 0, 0, 0.479));
	animation: fire-flames 2s ease-in-out 0ms infinite alternate;
}
.flames2 {
	position: absolute;

	bottom: -10px;
	left: 0;
	z-index: 998;
	filter: drop-shadow(0.3em 0.3em 0.5em rgba(0, 0, 0, 0.699));
	animation: fire-flames 2s ease-in-out 0ms infinite alternate-reverse;
}

@keyframes fire-flames {
	from {
		transform: translateX(10px);
	}
	to {
		transform: translateX(-10px);
	}
}

.fireman {
	display: none;
}
/* ########## MEDIA QUERY ########## */
@media only screen and (min-width: 1000px) {
	.fire-elements {
		flex-direction: row;
		width: 100%;
		max-width: 1400px;
	}
	.text-404 {
		width: 50%;
		min-width: 200px;
	}
	.fireman {
		display: block;
		width: 100%;
	}
	.flames {
		bottom: -120px;
		width: 100%;
	}

	.flames2 {
		bottom: -120px;
		width: 100%;
	}
}
