/* Box sizing rules and reset*/
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html {
	font-family: "Rubik", sans-serif;
	/* resetting font size to 10px makes rem math much easier*/
	font-size: 10px;
	box-sizing: border-box;
	/* height: 100%; */
}
/*Set secting heading font*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Rubik", sans-serif;
}
/* Set core body defaults */
body {
	min-height: 100%;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	position: relative;
}
P,
li {
	font-size: 1.6rem;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}
a {
	text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* ########## END GLOBAL ########## */
/* ########## UTILITIES ########## */

:root {
	--blk: #180126;
	--wht: #ffffff;
	--gry: #b8b4b4;
	--drk-gry: #666666;
	--ylw: #ffd84c;
	--drk-ylw: #ffc04c;
	--org: #f82508;
	--width: 160rem;
	--h3: 2.1rem;
	--h2: 2.8rem;
	--h1: 3.7rem;
	--footer-height: 30vh;
}

/* ########## NAV ########## */
header {
	background: var(--blk);
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: auto;
	min-height: 15vh;
}
.nav-ul {
	font-weight: bold;
	color: var(--wht);
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	max-width: 500px;
}
.nav-ul li a {
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--wht);
	transition: all 300ms ease-in-out;
}
.nav-ul li a:hover {
	color: var(--ylw);
	transform: scale(2);
}
/* .nav-ul li :hover {
	color: var(--ylw);
	transform: scale(2);
	transition: all 300ms ease-in-out;
} */

/* ########## HERO SECTION ########## */
.container {
	background: url(/images/bg-bridge.png) no-repeat center/cover;
	width: 100%;

	color: var(--wht);
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 6rem;
}
.hero-wrapper {
	width: 90%;
	margin: auto;
}

.hero-wrapper h1 {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 0.5rem;
}
.hero-wrapper h2 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 2rem;
	text-align: center;
}
.hero-input {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#hero-input-area {
	height: 60px;
	width: 100%;
	max-width: 500px;
	min-height: 60px;
	margin-bottom: 1rem;
	font-size: 1.6rem;
	line-height: 19.2px;
	letter-spacing: -0.2%;
	padding: 20px 10px;
	border-radius: 1px;
}
.hero-input-button {
	height: 60px;
	min-height: 60px;
	width: 100%;
	max-width: 500px;
	background: var(--ylw);
	color: var(--blk);
	font-size: 1.6rem;
	font-weight: bold;
	font-family: "Rubik", sans-serif;
	border-radius: 2px;
	cursor: pointer;
	/* transition: 10ms all; */
}
.hero-input-button:hover {
	background: var(--drk-ylw);
}
.hero-input-button:active {
	transform: scale(0.9);
}

/* ########## FAQ ACCORDIAN ########## */

main {
	width: 90%;
	margin: auto;
	margin-bottom: 6rem;
}
.accordian-item {
	padding-bottom: 2rem;
	border-bottom: var(--drk-gry) 2px solid;
	margin-bottom: 1.5rem;
}
.accordian-item:target .answer {
	max-height: 20rem;
}
.accordian-item:target .accordian-link .plus-sign {
	display: none;
}
.accordian-item:target .accordian-link .minus-sign {
	display: block;
}
.accordian-link {
	color: #000000;
	font-weight: bold;
	line-height: 19px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 1.5rem;
	font-size: 1.6rem;
}
.answer {
	font-size: 1.6rem;
	line-height: 120%;
	letter-spacing: 0.02em;
	margin-top: 1rem;
	max-height: 0;
	overflow: hidden;
	position: relative;
	padding-left: 1.5rem;
	transition: max-height 650ms ease-out;
}
.answer::before {
	content: "";
	position: absolute;
	width: 0.3rem;
	height: 70%;
	background: #18012677;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.minus-sign {
	display: none;
}

/* ########## MOBILE FOOTER ########## */
.web-footer {
	display: none;
}
footer {
	width: 100%;

	/* bottom: 0;
	left: 0; */
	background: var(--drk-gry);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}

.mobile-footer-container {
	width: 80%;
	max-width: 750px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.mobile-footer-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* flex-wrap: wrap; */
}

.information-meta {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 2rem;
}
.information-meta p {
	font-size: 14px;
	line-height: 20px;
	color: var(--wht);
}
.fire-h3 {
	font-size: 21px;
	line-height: 25px;
	font-weight: bold;
	color: var(--wht);
}

.resources-list {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 2.5rem;
}
.resources-list li a {
	color: var(--wht);
	transition: all 200ms ease-in-out;
}
.resources-list li a:hover {
	transform: scale(1.1);
	color: var(--ylw);
}

.partners {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 4rem;
}
.partners h2 {
	font-size: var(--h2);
	line-height: 120%;
	letter-spacing: -0.002em;
	font-weight: 500;
	color: var(--wht);
}

.newsletter-h2 {
	font-size: 2rem;
	line-height: 120%;
	letter-spacing: -0.002em;
	font-weight: 500;
	color: var(--wht);
	width: 100;
	text-align: center;
	margin-bottom: 2rem;
}

.newsletter-input {
	width: 90%;
	margin: auto;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#newsletter-input-area {
	height: 40px;
	width: 100%;
	max-width: 400px;
	/* margin-right: 1rem; */
	margin-bottom: 1rem;
	font-size: 1.6rem;
	line-height: 19.2px;
	letter-spacing: -0.2%;
	padding: 20px 10px;
	border-radius: 1px;
}
.newsletter-input-button {
	height: 40px;
	width: 100%;
	max-width: 400px;
	background: var(--ylw);
	color: var(--blk);
	font-size: 1.6rem;
	font-weight: bold;
	font-family: "Rubik", sans-serif;
	border-radius: 2px;
	cursor: pointer;
	transition: 0.1s all;
}
.newsletter-input-button:hover {
	/* transform: scale(0.8); */
	background: var(--drk-ylw);
}
.newsletter-input-button:active {
	transform: scale(0.9);
	/* background: var(--drk-ylw); */
}

.follow-us {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 4rem;
}
.follow-us h2 {
	font-size: var(--h2);
	line-height: 120%;
	letter-spacing: -0.002em;
	font-weight: 500;
	color: var(--wht);
	margin-bottom: 1rem;
}
.sm-icons {
	width: 100%;
	max-width: 320px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.sm-icons i {
	font-size: 26px;
	color: var(--ylw);
	transition: all 200ms ease-in-out;
}
.sm-icons i:hover {
	color: var(--drk-ylw);
	cursor: pointer;
	transform: scale(1.1);
}

/* ########## MEDIA QUERYS ########## */

/* @media only screen and (min-width: 500px) {
	.mobile-footer-container {
		width: 80%;
		max-width: 750px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.mobile-footer-wrapper {
		width: 50%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}
	.newsletter-follow-wrapper {
		width: 50%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}
} */

@media only screen and (min-width: 850px) {
	.web-footer {
		display: block;
	}
	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 90%;
		margin: auto;
		min-height: 7vh;
	}
	.logo {
		flex: 1 1 20rem;
	}
	.nav-ul {
		flex: 1 1 20rem;
	}
	.container {
		height: 530px;
	}
	.hero-wrapper {
		width: 80%;
		height: 100%;
		max-width: 1200px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}
	.hero-wrapper h1 {
		font-size: var(--h1);
		font-weight: 700;
		text-align: left;
		margin-bottom: 1rem;
	}
	.hero-wrapper h2 {
		font-size: var(--h2);
		font-weight: 300;
		line-height: 120%;
		text-align: left;
	}
	.hero-input {
		display: flex;
		flex-direction: row;
		/* align-items: center; */
		/* justify-content: center; */
		width: 100%;
		max-width: 835px;
		/* border: black solid 1px; */
		height: 80px;
	}
	#hero-input-area {
		width: 100%;
		max-width: 628px;
		height: 60px;
		padding: 20px 10px;
		margin-right: 2rem;
		margin-bottom: 0;
		/* border: green solid 1px; */
	}
	.hero-input-button {
		width: 100%;
		max-width: 193px;
		height: 60px;
	}
	main {
		max-width: 1200px;
	}

	/* ########## WEB FOOTER ########## */

	.mobile-footer {
		display: none;
	}
	/* .box {
		height: 110px;
	} */
	.mobile-footer-logo {
		display: none;
	}
	/* .svg-web-footer {
		display: flex;
		align-items: flex-start;
	} */
	.web-footer {
		height: 437px;
		width: 100%;
		background: var(--drk-gry);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.web-footer-container {
		width: 90%;
		max-width: 1200px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 3rem;
		padding-top: 2.5rem;
	}
	.web-footer-headline {
		flex: 1 1 20rem;
	}
	.web-footer-headline h2 {
		font-size: var(--h2);
		color: var(--wht);
		line-height: 33px;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	.web-footer-headline ul li {
		font-size: 1.8rem;
		line-height: 120%;
		letter-spacing: -0.002em;
		font-weight: 300;
		margin-bottom: 1.3rem;
		color: var(--wht);
		list-style: disc;
	}
	.web-footer-input {
		flex: 1 1 20rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#web-footer-input-area {
		height: 40px;
		width: 100%;
		max-width: 456px;
		min-width: 320px;
		margin-right: 1rem;
		font-size: 1.6rem;
		line-height: 19.2px;
		letter-spacing: -0.2%;
		padding: 20px 10px;
		border-radius: 1px;
	}
	.web-footer-button {
		height: 40px;
		width: 100%;
		max-width: 200px;
		min-width: 150px;
		background: var(--ylw);
		color: var(--blk);
		font-size: 1.6rem;
		font-weight: bold;
		font-family: "Rubik", sans-serif;
		border-radius: 2px;
		cursor: pointer;
		transition: 0.1s all;
	}

	.web-footer-button:hover {
		background: var(--drk-ylw);
	}
	.web-footer-container2 {
		width: 95%;
		height: 150px;
		max-width: 1250px;
		display: flex;
	}
	.web-footer-container2 img {
		width: 120px;
		height: 120px;
	}
	.web-footer-fire {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 240px;
		/* border: red solid 1px; */
		height: 100px;
		margin-right: 2rem;
	}
	.web-footer-items {
		width: 70%;
		height: 150px;
		max-width: 1250px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	.fire-alert {
		/* width: 150px; */
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		/* border: red solid 1px; */
		margin-left: 1rem;
	}

	.fire-alert p {
		font-size: 14px;
		line-height: 20px;
		color: var(--wht);
		font-weight: 300;
	}

	.resources {
		width: 156px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		/* border: red solid 1px; */
	}

	.resources li a {
		font-size: 18px;
		line-height: 120%;
		letter-spacing: -0.002em;
		color: var(--wht);
		font-weight: 300;
	}
	.resources li a:hover {
		transform: scale(1.2);

		font-weight: 400;
	}
	.partners {
		width: 156px;
		/* border: red solid 1px; */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.partners img {
		width: 156px;
		width: 80px;
		height: 80px;
		/* border: red solid 1px; */
	}
	.partners h2 {
		margin-bottom: 1rem;
	}
	.follow {
		width: 156px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-right: none;
		/* border: red solid 1px; */
	}
	.follow h2 {
		font-weight: 500;
		font-size: var(--h2);
		line-height: 120%;
		letter-spacing: -0.002em;
		margin-bottom: 3rem;
		color: var(--wht);
	}
	.sm-icons {
		width: 200px;
		margin-right: 8rem;
	}
	.sm-icons:last-child {
		margin-right: 0;
	}
	.side-border {
		border-right: 1px solid rgba(255, 255, 255, 0.5);
		width: 1px;
		height: 100px;
	}
}
