*{
    margin: 0; 
    padding: 0; 
    
    box-sizing: border-box;
    
 
}

*, ::before ::after{
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

:root {
	--blk: #180126;
	--wht: #ffffff;
	--gry: #b8b4b4;
	--drk-gry: #666666;
	--ylw: #ffd84c;
	--drk-ylw: #ffc04c;
	--org: #f82508;
	--width: 160em;
	--h3: 2.1em;
	--h2: 2.8em;
	--h1: 3.7em;
	--footer-height: 30vh;
}

ul[role="list"],
ol[role="list"],
li {
	list-style: none;
}

a {
	text-decoration: none;
}



body{
    font-size: 10px!important;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    background-image: url(./images/landing-images/background.svg);
    background-size: 1370px 2400px;
    background-repeat: no-repeat;
   

}

/*-------------- GROUP STYLES FOR HEADER -------------- */

.nav-bar {
    background: #180126;
    width: 100%;
    height: auto;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 16px;
  }
  
  .left-header {
    padding-left: 75px;
  }
  
  .right-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    
  }
  
  .right-header a {
    color: #ffffff;
    padding-right: 75px;
    text-decoration: none;
	transition: all 300ms ease-in-out;
  }
  
  .right-header a:hover {
    color: #ffd84d;
	transform: scale(2);
  }
  
  #active {
    color: #ffd84d;
  }

  


/* HERO SECTION */

.hero-wrap{
    height: 55rem;
    width: 100vw;
    display: flex; 
}

#hero-section{
    display: flex;
    background: url(./images/landing-images/hero-bg.svg);
    background-repeat: no-repeat;
    background-position:start center ;
    background-size: auto 75%;
}

.hero-text{
    height: 10rem;
    width: 38vw;
    margin-left: 4.3vw;
    margin-top : 16.2vh;
}

.hero-text .title {
    display: flex;  
}

.hero-text .title h1{
    font-weight: bold;
    font-size: 3.2em;
    align-self:center;
    margin-top: 4rem;
    margin-left: -1vw;
    color: white;
}

.hero-text .title img{
    height: 6rem;
    width: 6rem;
    margin: 4vh 0  0 3.5vh 
}

.hero-text p{
   
    margin-left: 3.5vw;
    margin-top: 1vh;
    margin-bottom:5vh;
	margin-right: 3.5vw;
    font-weight: 300;;
    font-size: 1.8em;
    color: #FFFFFF;
}

#hero-section button{
    margin-left: 3.5vw;
    width: 100%;
    max-width: 200px;
    min-width: 150px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: var(--ylw);
    font-weight: bolder;
    font-size: 1rem;
    line-height: 2.75rem;
	cursor: pointer;
	color: #180126;
}

#hero-section button:hover{background: var(--drk-ylw);}



#feature-section{
  display: flex;
  flex-direction: column;
  margin-top: -12.5rem;
  color: #180126;
    
}

/* ----------------  TOP OF FEATURE SECTION-------------------------- */
#feature-section .text-image h1{
    font-weight: bold;
    font-size: 1.75rem;
  
    margin-bottom: 2rem;
    color: #180126;
}

#feature-section .bottom h1:first-child{
  
    margin-bottom: 0;
}

#feature-section .text-image p{
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.002em;
    color: #180126;
}

#feature-section .top .text-image p:first-of-type{
    margin-bottom: 0rem;
   
}

#feature-section .text-image button {
    background:  var(--ylw);;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 1.4em;
    line-height: 3rem;
    width: 100%;
    max-width: 200px;
    min-width: 150px;
    height: 60px;
	cursor: pointer;
	color: #180126;
}

#feature-section button:hover{background: var(--drk-ylw);}



#feature-section .top{
    display: flex;
    justify-content: space-evenly;
}

#feature-section .top .text-wrap{ 
    display: flex;
    flex-direction: column; 
    place-content: center;
    max-width: 50vw;
}

#feature-section .top img {
    width: 650px;
    
    height: 510px;
    margin-left: -10vw;
}

/* ---------------------BOTTOM OF FEATURE SECTION---------------------- */
#feature-section .bottom{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

#feature-section .bottom .text-wrap{ 
    display: flex;
    flex-direction: column; 
    place-content: center;
    max-width: 50vw;
    padding: 2rem 0.5rem 0 3rem ;


}

#feature-section .bottom img {
    width: 670px;
    height: 550px;
   
    
}

/* ---------------------=-----FOOTER SECTION------------------------------ */






/*-------------------- MOBILE FOOTER MEDIA QUERY----------------------- */
.web-footer {
	display: none;
}
footer {
	width: 100%;

	background: var(--drk-gry);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}

.mobile-footer-container {
	width: 80%;
	max-width: 750px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.mobile-footer-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* flex-wrap: wrap; */
}

.information-meta {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 2em;
}
.information-meta p {
	font-size: 14px;
	line-height: 20px;
	color: var(--wht);
}
.fire-h3 {
	font-size: 21px;
	line-height: 25px;
	font-weight: bold;
	color: var(--wht);
}

.resources-list {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 2.5em;
}
.resources-list li a {
	color: var(--wht);
	transition: all 200ms ease-in-out;
    font-size: 1.6em;
    line-height: 25px;
}
.resources-list li a:hover {
	transform: scale(1.1);
	color: var(--ylw);
}

.partners {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 4em;
}
.partners h2 {
	font-size: var(--h2);
	line-height: 120%;
	letter-spacing: -0.002em;
	font-weight: 500;
	color: var(--wht);
}

.newsletter-h2 {
	font-size: 2em;
	line-height: 120%;
	letter-spacing: -0.002em;
	font-weight: 500;
	color: var(--wht);
	width: 100;
	text-align: center;
	margin-bottom: 2em;
}

.newsletter-input {
	width: 90%;
	margin: auto;
	margin-bottom: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#newsletter-input-area {
	height: 40px;
	width: 100%;
	max-width: 400px;
	/* margin-right: 1rem; */
	margin-bottom: 1em;
	font-size: 1.6em;
	line-height: 19.2px;
	letter-spacing: -0.2%;
	padding: 20px 10px;
	border-radius: 1px;
	border: none;
}
.newsletter-input-button {
	height: 40px;
	width: 100%;
	max-width: 400px;
	background: var(--ylw);
	color: var(--blk);
	font-size: 1.6em;
	font-weight: bold;
	font-family: "Rubik", sans-serif;
	border-radius: 2px;
	cursor: pointer;
	transition: 0.1s all;
	border: none;
}
.newsletter-input-button:hover {
	/* transform: scale(0.8); */
	background: var(--drk-ylw);
}
.newsletter-input-button:active {
	transform: scale(0.9);
	/* background: var(--drk-ylw); */
}

.follow-us {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 4em;
}
.follow-us h2 {
	font-size: var(--h2);
	line-height: 120%;
	letter-spacing: -0.002em;
	font-weight: 500;
	color: var(--wht);
	margin-bottom: 1em;
}
.sm-icons {
	width: 100%;
	max-width: 320px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.sm-icons i {
	font-size: 26px;
	color: var(--ylw);
	transition: all 200ms ease-in-out;
}
.sm-icons i:hover {
	color: var(--drk-ylw);
	cursor: pointer;
	transform: scale(1.1);
}







/*----------------------------------------media quesries------------------------------------------------- */
@media only screen and (max-width: 1024px) {


    body{
        font-size: 10px;
        font-family: 'Rubik', sans-serif;
       
        background-repeat: no-repeat;
        overflow-x: hidden;
    }

   


    #hero-section{
        display: flex;
    }

    .hero-text{
        height: auto;
        width: auto;
        max-width: 100%;
        font-size: 80%;
        margin-left: 2vw;
        margin-top: 8vh;
    }


    .hero-wrap{
        max-width: 100%;
		height: 700px;
    }

 
    #feature-section {
        margin-bottom: 5vh;
        padding: 0 1.5rem;
    }

    #feature-section .top {
        margin: 0 auto; 
        display: flex;
        flex-direction: column; 
        text-align: center; 
        align-items: flex-start;
        max-width: 100vw;
    }

    #feature-section .bottom{
        display: flex;
        margin: 0 auto 0 auto; 
        flex-direction: column-reverse;
        text-align: center;
        
    
    }

    #feature-section .bottom img{
        margin: 0 auto 2vh  auto;
        height: auto;
        width: 90%;
        max-width: 100vw;
    }

    #feature-section .bottom .text-wrap{
        padding: 0;
    }

    #feature-section .top img{
        margin: 0 auto;
        width: 100%;
        height: auto;
        max-width: 100vw;;
    }

    #feature-section .top{
        text-align: center;
        margin: 5vh auto; 
    }

    #feature-section .bottom .text-wrap,  #feature-section .top .text-wrap{
        margin: 0 auto;
        max-width: 100%;
    }


} 

/* --------------------FEATURE SECTION MOBILE QUERIES------------------------------- */
@media only screen and (max-width: 550px) {

    #feature-section .bottom .text-wrap,
    #feature-section .top .text-wrap{ 
   
        max-width: 40rem;
        margin-bottom: 10vh;
    }

    #feature-section .bottom img,
    #feature-section .top img{
        max-width: 40rem
    }

}

/* ------------------ABOUT US EXTRA STYLES AND QUERIES FOR HEADER AND FOOTER  -------------------- */
@media only screen and (max-width: 992px) {
	.nav-bar {
        display: grid;
        justify-content: center;
		grid-template-columns: 100%;
    }
	.right-header ul {
		padding-left: 75px;
		justify-content: center;
		padding-bottom: 10px;
	}
}
@media only screen and (max-width: 600px) {
    /* Header */
    
    
    .left-header, .right-header ul {
        padding-left: 0px;
        width: 100%;
    }
	.right-header ul {
		justify-content: space-around;
	}
    .right-header{
        margin-top: 2vh;
		padding-bottom: 10px;
    }
    
    .right-header a {
		padding: 0 5px;
    }
	.hero-wrap {
		height: 675px;
	}
	.hero-text {
		text-align: center;
	}
	.hero-text p {
		font-size: 16px;
	}
}


@media only screen and (min-width: 850px) {	
    .web-footer {
        display: block;
    }

    .mobile-footer {
		display: none;
	}

	.mobile-footer-logo {
		display: none;
	}
	
	.web-footer {
		height: 437px;
		width: 100%;
		background: var(--drk-gry);
  
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.web-footer-container {
		width: 90%;
		max-width: 1200px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1.5em;
		padding-top: 1.25em;
	}
	.web-footer-headline {
		flex: 1 1 20rem;
	}
	.web-footer-headline h2 {
		font-size: 2.8em;
		color: var(--wht);
		line-height: 33px;
		font-weight: bold;
		margin-bottom: 1em;
	}

	.web-footer-headline ul li {
		font-size: 1.8em;
		line-height: 120%;
		letter-spacing: -0.002em;
		font-weight: 300;
		margin-bottom: 0.65em;
		color: var(--wht);
		list-style: disc;
	}
	.web-footer-input {
		flex: 1 1 20rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#web-footer-input-area {
		height: 40px;
		width: 100%;
		max-width: 456px;
		min-width: 320px;
		margin-right: 0.5em;
		font-size: 1.6em;
		line-height: 19.2px;
		letter-spacing: -0.2%;
		padding: 20px 10px;
		border-radius: 1px;
		border: none;
	}
	.web-footer-button {
		height: 40px;
		width: 100%;
		max-width: 200px;
		min-width: 150px;
		background: var(--ylw);
		color: var(--blk);
		font-size: 1.6em;
		font-weight: bold;
		font-family: "Rubik", sans-serif;
		border-radius: 2px;
		cursor: pointer;
		transition: 0.1s all;
		border: none;
	}

	.web-footer-button:hover {
		background: var(--drk-ylw);
	}
	.web-footer-container2 {
		width: 95%;
		height: 150px;
		max-width: 1250px;
		display: flex;
	}
	.web-footer-container2 img {
		width: 120px;
		height: 120px;
	}
	.web-footer-fire {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 240px;
		/* border: red solid 1px; */
		height: 100px;
		margin-right: 1em;
	}
	.web-footer-items {
		width: 70%;
		height: 150px;
		max-width: 1250px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	.fire-alert {
		/* width: 150px; */
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		/* border: red solid 1px; */
		margin-left: 0.5em;
	}

	.fire-alert p {
		font-size: 14px;
		line-height: 20px;
		color: var(--wht);
		font-weight: 300;
	}

	.resources {
		width: 156px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		/* border: red solid 1px; */
	}

	.resources li a {
		font-size: 18px;
		line-height: 120%;
		letter-spacing: -0.002em;
		color: var(--wht);
		font-weight: 300;
	}
	.resources li a:hover {
		transform: scale(1.2);

		font-weight: 400;
	}
	.partners {
		width: 156px;
		/* border: red solid 1px; */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.partners img {
		width: 156px;
		width: 80px;
		height: 80px;
		/* border: red solid 1px; */
	}
	.partners h2 {
		margin-bottom: 0.5em;
	}
	.follow {
		width: 156px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-right: none;
		/* border: red solid 1px; */
	}
	.follow h2 {
		font-weight: 500;
		font-size: var(--h2);
		line-height: 120%;
		letter-spacing: -0.002em;
		margin-bottom: 1em;
		color: var(--wht);
	}
	.sm-icons {
		width: 200px;
		margin-right: 4em;
	}
	.sm-icons:last-child {
		margin-right: 0;
	}
	.side-border {
		border-right: 1px solid rgba(255, 255, 255, 0.5);
		width: 1px;
		height: 100px;
	}

}
