* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Rubik', sans-serif;
    width: 100%;
    height: auto;
}

.nav-bar {
    background: #180126;
    width: 100%;
    height: auto;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.left-header {
    width: 70px;
    height: 70px;
    padding-left: 75px;
}

.right-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.right-header a {
    color: #ffffff;
    padding-right: 75px;
    text-decoration: none;
}

.right-header a:hover {
    color: #ffd84d;
}

#active {
    color: #ffd84d;
}

.hero {
    width: 100%;
    height: 477px;
    background-image: url('../images/contact-images/Rectangle 7.svg');
    color: #ffffff;
    padding-top: 20px;
}

.top-bar ul {
    display: flex;
    list-style-type: none;
    margin: 16px 0px 16px;
    font-family: 'Rubik';
    font-style: normal;
    line-height: 19px;
    font-size: 16px;
}

.top-bar a {
    color: #ffffff;
    padding-left: 70px;
    text-decoration: none;
}

.top-bar a:hover {
    color: #ffd84d;
}

.top-bar a:active {
    color: #FFD84D;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

#active2 {
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.hero-contact a {
    text-decoration: underline;
    color: #ffffff;
}

.hero h1 {
    width: 627px;
    height: 67px;
    margin-left: 232px;
    padding-top: 120px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 44px;
    color: #ffffff;
}

.hero h3 {
    width: 574px;
    height: 68px;
    margin-left: 232px;
    margin-top: 60px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 34px;
    color: #ffffff;
}

.btn {
    width: 269px;
    height: 58px;
    margin-left: 232px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    background-color: #ffd84d;
    cursor: pointer;
}

.btn:hover {
    /* transform: scale(0.8); */
    background: var(--drk-ylw);
}

.btn:active {
    transform: scale(0.9);
    /* background: var(--drk-ylw); */
}

.contact-us {
    width: 156px;
    height: 33px;
    padding-top: 25px;
    margin-left: 467px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.2%;
    color: #000000;
}

.form-content {
    width: 666px;
    height: 57px;
    padding-top: 23px;
    margin-left: 467px;
    margin-bottom: 50px;
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.2%;
    color: #180126;
}

.name-number {}

#name {
    margin-left: 467px;
    margin-bottom: 10px;
    width: 330px;
    height: 30px;
    border: 1px solid #b8b484;
}

#name::placeholder {
    width: 74px;
    height: 19px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.2%;
    color: #b8b484;
}

#number::placeholder {
    width: 185px;
    height: 19px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.2%;
    color: #b8b484;
}

#message::placeholder {
    width: 400px;
    height: 19px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.2%;
    color: #b8b484;
}

#email::placeholder {
    width: 146px;
    height: 19px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.2%;
    color: #b8b484;
}

#number {
    width: 320px;
    height: 30px;
    border: 1px solid #b8b484;
    margin-left: 10px;
}

#message {
    width: 665px;
    height: 146px;
    margin-left: 467px;
    border: 1px solid #b8b484;
}

#email {
    width: 435px;
    height: 30px;
    margin-left: 467px;
    margin-bottom: 50px;
    border: 1px solid #b8b484;
}

#name,
#number,
#message,
#email {
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 1.3em;
    font-size: 16px;
}

.btn-contact {
    height: 40px;
    width: 72%;
    max-width: 200px;
    min-width: 150px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align: center;
    border-radius: 2px;
    border: none;
    background-color: #ffd84d;
    margin-left: 10px;
    cursor: pointer;
}

.btn-contact:hover {
    /* transform: scale(0.8); */
    background: var(--drk-ylw);
}

.btn-contact:active {
    transform: scale(0.9);
    /* background: var(--drk-ylw); */
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 467px;
}

.l-mail h3 {
    color: #000000;
    width: 173px;
    height: 19px;
    font-family: 'Rubik';
    font-weight: bold;
    font-style: normal;
    font-size: 21px;
    line-height: 25px;
}

.l-mail p {
    color: #000000;
    width: 203px;
    height: auto;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.2%;
}

.l-email h3 {
    color: #000000;
    width: 173px;
    height: 19px;
    font-family: 'Rubik';
    font-weight: bold;
    font-style: normal;
    font-size: 21px;
    line-height: 25px;
    margin-left: 25px;
}

.l-email p {
    color: #000000;
    width: 203px;
    height: 57px;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.2%;
    margin-left: 25px;
}

.l-phone h3 {
    color: #000000;
    width: 173px;
    height: 19px;
    font-family: 'Rubik';
    font-weight: bold;
    font-style: normal;
    font-size: 21px;
    line-height: 25px;
    margin-left: 25px;
}

.l-phone p {
    color: #000000;
    width: 203px;
    height: 57px;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.2%;
    margin-bottom: 50px;
    margin-left: 25px;
}

input,
#textarea {
    font-size: 16px;
}


/*footer*/

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: "Rubik", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

ul[role="list"],
ol[role="list"],
li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --blk: #180126;
    --wht: #ffffff;
    --gry: #b8b4b4;
    --drk-gry: #666666;
    --ylw: #ffd84c;
    --drk-ylw: #ffc04c;
    --org: #f82508;
    --width: 160rem;
    --h3: 2.1rem;
    --h2: 2.8rem;
    --h1: 3.7rem;
    --footer-height: 30vh;
}

.web-footer {
    display: none;
}

footer {
    width: 100%;
    background: var(--drk-gry);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.mobile-footer-container {
    width: 80%;
    max-width: 750px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mobile-footer-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.information-meta {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.information-meta p {
    font-size: 14px;
    line-height: 20px;
    color: var(--wht);
}

.fire-h3 {
    font-size: 21px;
    line-height: 25px;
    font-weight: bold;
    color: var(--wht);
}

.resources-list {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.resources-list li a {
    color: var(--wht);
    transition: all 200ms ease-in-out;
    font-size: 1.6rem;
    line-height: 25px;
}

.resources-list li a:hover {
    transform: scale(1.1);
    color: var(--ylw);
}

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.partners h2 {
    font-size: var(--h2);
    line-height: 120%;
    letter-spacing: -0.002em;
    font-weight: 500;
    color: var(--wht);
}

.newsletter-h2 {
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -0.002em;
    font-weight: 500;
    color: var(--wht);
    width: 100;
    text-align: center;
    margin-bottom: 2rem;
}

.newsletter-input {
    width: 90%;
    margin: auto;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#newsletter-input-area {
    height: 40px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    line-height: 19.2px;
    letter-spacing: -0.2%;
    padding: 20px 10px;
    border-radius: 1px;
}

.newsletter-input-button {
    height: 40px;
    width: 100%;
    max-width: 400px;
    background: var(--ylw);
    color: var(--blk);
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s all;
}

.newsletter-input-button:hover {
    background: var(--drk-ylw);
}

.newsletter-input-button:active {
    transform: scale(0.9);
}

.follow-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
}

.follow-us h2 {
    font-size: var(--h2);
    line-height: 120%;
    letter-spacing: -0.002em;
    font-weight: 500;
    color: var(--wht);
    margin-bottom: 1rem;
}

.sm-icons {
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sm-icons i {
    font-size: 26px;
    color: var(--ylw);
    transition: all 200ms ease-in-out;
}

.sm-icons i:hover {
    color: var(--drk-ylw);
    cursor: pointer;
    transform: scale(1.1);
}


/* Media Queries */


/* Ipad Pro Size */

@media only screen and (max-width: 1150px) {
    .top-bar ul {
        margin: 0 0 0 16px;
    }
    .hero {
        height: auto;
    }
    .content {
        display: grid;
        grid-template-columns: 100%;
        padding: 0;
        text-align: center;
    }
    .content h1 {
        margin: 10px 0 0 0;
        padding: 20px 0 0 0;
        width: auto;
        font-size: 40px;
    }
    .content h3 {
        padding: 0px 15px;
        width: auto;
        height: auto;
        margin: 20px;
        font-size: 22px;
    }
    .btn {
        margin: auto;
        margin-bottom: 40px;
    }
    .contact-us,
    .form-content,
    #message,
    #email,
    .name-number {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
        text-align: center;
    }
    br {
        display: none;
    }
    .form-content {
        padding-bottom: 10px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 22px;
        line-height: 26px;
    }
    #name {
        margin-right: 10px;
    }
    #message {
        width: 65%;
        margin-bottom: 10px;
        text-align: left;
        text-align: center;
    }
    .message {}
    .subscribe {
        text-align: center;
    }
    #email {
        width: 25%;
        text-align: left;
        margin-left: -65px;
    }
    .btn-contact {
        max-width: 175px;
    }
    .container {
        justify-content: center;
        margin-left: 60px;
    }
    .l-mail h3,
    .l-email h3,
    .l-phone h3 {
        margin-bottom: 10px;
    }
}


/* Tablet Sizes */

@media only screen and (max-width: 992px) {
    .top-bar ul {
        margin: 0 0 0 16px;
    }
    .hero {
        height: auto;
    }
    .content {
        display: grid;
        grid-template-columns: 100%;
        padding: 0;
        text-align: center;
    }
    .content h1 {
        margin: 10px 0 0 0;
        padding: 20px 0 0 0;
        width: auto;
    }
    .content h3 {
        padding: 0px 15px;
        width: auto;
        height: auto;
        margin: 20px;
        font-size: 18px;
    }
    .btn {
        margin-bottom: 40px;
    }
    .contact-us,
    .form-content,
    #message,
    #email,
    .name-number {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
        text-align: center;
    }
    br {
        display: none;
    }
    .form-content {
        padding-bottom: 10px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 16px;
    }
    #name,
    #number {
        width: 43%;
    }
    #message {
        width: 85%;
        max-width: 85%;
        margin-bottom: 10px;
        text-align: left;
    }
    .message {
        text-align: center;
    }
    .subscribe {
        text-align: center;
    }
    .btn-contact {
        max-width: 300px;
    }
    #email {
        width: 40%;
        text-align: left;
        margin-left: 0px;
    }
    .container {
        justify-content: center;
        margin-left: 50px;
    }
    .l-mail h3,
    .l-email h3,
    .l-phone h3 {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:600px) {
    .btn {
        width: auto;
        margin: 10px 20px 40px 20px;
    }
    .nav-bar {
        display: grid;
        justify-content: center;
    }
    .left-header,
    .right-header ul {
        padding-left: 0px;
        padding-bottom: 10px;
    }
    .left-header {
        justify-self: center;
    }
    /* #active {
		color: red;
		text-decoration-line: underline;
		text-underline-offset: 10px;
		text-decoration-thickness: 2px;
	} */
    .right-header a {
        color: #ffffff;
        padding-right: 5px;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .top-bar {
        display: none;
    }
    .hero {
        background-size: cover;
        height: auto;
    }
    .content {
        display: grid;
        grid-template-columns: 100%;
        padding: 0;
        text-align: center;
    }
    .content h1 {
        margin: 10px 0px;
        padding: 0;
        width: auto;
    }
    .content h3 {
        padding: 0px 15px;
        width: auto;
        height: auto;
        margin: 20px;
        font-size: 18px;
    }
    .contact-us,
    .form-content,
    #message,
    #email,
    .name-number {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
        text-align: center;
    }
    br {
        display: none;
    }
    .form-content {
        padding-bottom: 10px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    #name,
    #number,
    #message,
    #email {
        width: 90%;
        margin-bottom: 10px;
        text-align: left;
    }
    #name {
        margin-right: 0;
    }
    #number {
        margin-left: 0px;
    }
    .message {
        text-align: center;
    }
    .subscribe {
        text-align: center;
    }
    #email {
        width: 85%;
    }
    .btn-contact {
        max-width: 295px;
    }
    .container {
        display: grid;
        margin: 0px;
        text-align: center;
        justify-items: center;
        width: auto;
    }
    .l-mail h3,
    .l-email p,
    .l-email h3,
    .l-phone p,
    .l-phone h3 {
        margin-left: 0px;
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
    }
    .l-phone {
        margin-bottom: 20px;
    }
}


/* Footer */

@media only screen and (min-width: 850px) {
    .web-footer {
        display: block;
    }
    .mobile-footer {
        display: none;
    }
    .mobile-footer-logo {
        display: none;
    }
    .web-footer {
        height: 437px;
        width: 100%;
        background: var(--drk-gry);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .web-footer-container {
        width: 90%;
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        padding-top: 2.5rem;
    }
    .web-footer-headline {
        flex: 1 1 20rem;
    }
    .web-footer-headline h2 {
        font-size: var(--h2);
        color: var(--wht);
        line-height: 33px;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .web-footer-headline ul li {
        font-size: 1.8rem;
        line-height: 120%;
        letter-spacing: -0.002em;
        font-weight: 300;
        margin-bottom: 1.3rem;
        color: var(--wht);
        list-style: disc;
    }
    .web-footer-input {
        flex: 1 1 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #web-footer-input-area {
        height: 40px;
        width: 100%;
        max-width: 456px;
        min-width: 320px;
        margin-right: 1rem;
        font-size: 1.6rem;
        line-height: 19.2px;
        letter-spacing: -0.2%;
        padding: 20px 10px;
        border-radius: 1px;
    }
    .web-footer-button {
        height: 40px;
        width: 100%;
        max-width: 200px;
        min-width: 150px;
        background: var(--ylw);
        color: var(--blk);
        font-size: 1.6rem;
        font-weight: bold;
        font-family: "Rubik", sans-serif;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.1s all;
    }
    .web-footer-button:hover {
        background: var(--drk-ylw);
    }
    .web-footer-container2 {
        width: 95%;
        height: 150px;
        max-width: 1250px;
        display: flex;
    }
    .web-footer-container2 img {
        width: 120px;
        height: 120px;
    }
    .web-footer-fire {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 100px;
        margin-right: 2rem;
    }
    .web-footer-items {
        width: 70%;
        height: 150px;
        max-width: 1250px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .fire-alert {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 1rem;
    }
    .fire-alert p {
        font-size: 14px;
        line-height: 20px;
        color: var(--wht);
        font-weight: 300;
    }
    .resources {
        width: 156px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .resources li a {
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -0.002em;
        color: var(--wht);
        font-weight: 300;
    }
    .resources li a:hover {
        transform: scale(1.2);
        font-weight: 400;
    }
    .partners {
        width: 156px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .partners img {
        width: 156px;
        width: 80px;
        height: 80px;
    }
    .partners h2 {
        margin-bottom: 1rem;
    }
    .follow {
        width: 156px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: none;
    }
    .follow h2 {
        font-weight: 500;
        font-size: var(--h2);
        line-height: 120%;
        letter-spacing: -0.002em;
        margin-bottom: 3rem;
        color: var(--wht);
    }
    .sm-icons {
        width: 200px;
        margin-right: 8rem;
    }
    .sm-icons:last-child {
        margin-right: 0;
    }
    .side-border {
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        width: 1px;
        height: 100px;
    }
}