*{
    margin: 0; 
    padding: 0; 
    
    box-sizing: border-box;
    
 
}

*, ::before ::after{
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}



body{
    font-size: 10px!important;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    background-image: url(./images/landing-images/background.svg);
    background-size: 1370px 2400px;
    background-repeat: no-repeat;
    scrollbar-width: 0;

}

body::-webkit-scrollbar {
    display: none;
  }

header{
    background-color: rgba(24, 1, 38, 1);
    display: flex;
    justify-content: space-between;
    padding:0;
    height: auto;
    align-items: center;
    max-width: 1600px
    
}

header .logo-section, header .logo{
    height: 100%;
    
}

header img{
    width: 3rem;
    height: 1vh;
    margin-left: 95px;
    padding:0;
}


.nav-list{
    display: flex;
    margin-right: 95px;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.nav-item, .nav-item a{
    margin-left: 2vw;
    font-weight: 600;
    font-size: 0.8rem;
    color: #FFFFFF;
    text-decoration: none;
}


/* HERO SECTION */

.hero-wrap{
    height: 55rem;
    width: 100vw;
    display: flex; 
}

#hero-section{
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #180126 150%),url(./images/landing-images/hero-bg.svg);
    background-repeat: no-repeat;
    background-position:start center ;
    background-size: auto 68%;
}

.hero-text{
    height: 10rem;
    width: 38vw;
    margin-left: 4.3vw;
    margin-top : 16.2vh;
}

.hero-text .title {
    display: flex;  
}

.hero-text .title h1{
    font-weight: bold;
    font-size: 3.2em;
    align-self:center;
    margin-top: 4rem;
    margin-left: -1vw;
    color: white;
}

.hero-text .title img{
    height: 6rem;
    width: 6rem;
    margin: 4vh 0  0 3.5vh 
}

.hero-text p{
   
    margin-left: 3.5vw;
    margin-top: 1vh;
    margin-bottom:5vh;
    font-weight: 300;;
    font-size: 1.5rem;
    color: #FFFFFF;
}

#hero-section button{

    background: #FFD84D;
    margin-left: 3.5vw;
    width: 100%;
    max-width: 200px;
    min-width: 150px;
 
    border: none;
    border-radius: 2px;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 2.75rem;
}



#feature-section{
  display: flex;
  flex-direction: column;
  margin-top: -12.5rem;
  
    
}

/* ----------------  TOP OF FEATURE SECTION-------------------------- */
#feature-section .text-image h1{
    font-weight: bold;
    font-size: 1.75rem;
  
    margin-bottom: 2rem;
    color: #000000;
}

#feature-section .bottom h1:first-child{
  
    margin-bottom: 0;
}

#feature-section .text-image p{
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.002em;
    color: #000000;
}

#feature-section .top .text-image p:first-of-type{
    margin-bottom: 0rem;
   
}

#feature-section .text-image button {
    background: #FFD84D;
    border: none;
    border-radius: 2px;
    font-weight: bolder;
    font-size: 1.4em;
    line-height: 3rem;
    width: 100%;
    max-width: 200px;
    min-width: 150px;
  
}

#feature-section .top{
    display: flex;
    justify-content: space-evenly;
}

#feature-section .top .text-wrap{ 
    display: flex;
    flex-direction: column; 
    place-content: center;
    max-width: 50vw;
}

#feature-section .top img {
    width: 650px;
    
    height: 510px;
    margin-left: -10vw;
}

/* ---------------------BOTTOM OF FEATURE SECTION---------------------- */
#feature-section .bottom{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15rem;
}

#feature-section .bottom .text-wrap{ 
    display: flex;
    flex-direction: column; 
    place-content: center;
    max-width: 50vw;
    padding: 2rem 0.5rem 0 3rem ;


}

#feature-section .bottom img {
    width: 670px;
    height: 550px;
   
    
}

/* ---------------------=-----FOOTER SECTION------------------------------ */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(165, 165, 165, 0.1);
    
}


.web-footer {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(165, 165, 165, 0.5);
    padding: 0 1rem;
}
.web-footer-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
.web-footer-headline {
    flex: 1 1 20rem;
}

.web-footer-headline h2 {
    font-size: 28px;
    color: white;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 28px;
}

.web-footer-headline ul li {
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: -0.002em;
    font-weight: 300;
    margin-bottom: 1rem;
    color: white;
    list-style: disc;
    margin-left: 1.1rem;
}
.web-footer-input {
    flex: 1 1 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#web-footer-input-area {
    height: 40px;
    width: 100%;
    max-width: 456px;
    min-width: 320px;
    margin-right: 0.5rem;
    font-size: 1rem;
    line-height: 19.2px;
    letter-spacing: -0.2%;
    padding: 20px 10px;
    border-radius: 1px;
}

.web-footer-button {
    height: 40px;
    width: 100%;
    max-width: 200px;
    min-width: 150px;
    background: #FFD84D;
    color:black;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s all;
}


.web-footer-button:active {
    transform: scale(0.9);
}
.web-footer-container2 {
    width: 100%;
    height: fit-content;
    max-width: 1250px;
    display: flex;
}
.web-footer-container2 img {
    width: 100px;
    height: 100x;
}
.web-footer-fire {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 100px;
    margin-right: 1.5rem;
}
.web-footer-items {
    width: 70%;
    height: 150px;
    max-width: 1250px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.fire-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.5rem;
}

.fire-h3{
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: white; 
    font-weight: bold;

}
    

.fire-alert p {
    font-size: 10px;
    line-height: 20px;
    color:white;
    font-weight: 300;
}

.resources {
    width: 156px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    text-align : left;
}

.resources a {
    text-decoration: underline;
}



.resources li a {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.002em;
    color: white;
    font-weight: 300;
    text-decoration: none;
}

.resources li a:hover {
    transform: scale(1.2);
    font-weight: 400;
}

.partners {
    width: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.partners img {
    
    width: 60px;
    height: 60px;
}
.partners h2 {
    margin-bottom: 1.3rem;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: -0.002em;
    font-weight: 500;
    color: white;
}

.follow {
    width: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: none;
}
.follow h2 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.3rem;
    letter-spacing: -0.002em;
    margin-bottom: 3rem;
    color: white; 
}
.sm-icons {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    color: #ebbd17;
    margin-right: 8rem;
}
.sm-icons:last-child {
    margin-right: 0;
}

.sm-icons i{
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

}
.side-border {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    width: 1px;
    height: 100px;
}

/*--------------------------media quesries-------------------------- */
@media only screen and (max-width: 1024px) {



    body{
        font-size: 10px;
        font-family: 'Rubik', sans-serif;
       
        background-repeat: no-repeat;
        overflow-x: hidden;
    }

    header{
    
        display: grid;
        grid-template-columns: 30vw 70vw;
        max-width: 100vw;
    
    }
    
    header .logo-section{
        padding-left: 5vh;
    }

    header .logo-section img{
        margin-left: auto
    }

    header .nav-menu{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    header .nav-list {
        display: flex;
        width: 100;
    }

    header .nav-item, .nav-item a{
        text-align: center;  
    }

    #hero-section{
        display: flex;
    }

    .hero-text{
        height: auto;
        width: auto;
        max-width: 100%;
        font-size: 80%;
    }


    .hero-wrap{
        max-width: 100%;
    }

 
    #feature-section {
        margin-bottom: 5vh;
        padding: 0 1.5rem;
    }

    #feature-section .top {
        margin: 0 auto; 
        display: flex;
        flex-direction: column; 
        text-align: center; 
        align-items: flex-start;
        max-width: 100vw;
    }

    #feature-section .bottom{
        display: flex;
        margin: 0 auto 0 auto; 
        flex-direction: column-reverse;
        text-align: center;
        
    
    }

    #feature-section .bottom img{
        margin: 0 auto 2vh  auto;
        height: auto;
        width: 90%;
        max-width: 100vw;
    }

    #feature-section .bottom .text-wrap{
        padding: 0;
    }

    #feature-section .top img{
        margin: 0 auto;
        width: 100%;
        height: auto;
        max-width: 100vw;;
    }

    #feature-section .top{
        text-align: center;
        margin: 5vh auto; 
    }

    #feature-section .bottom .text-wrap,  #feature-section .top .text-wrap{
        margin: 0 auto;
        max-width: 100%;
    }

    .web-footer{
  
        
        overflow-x: hidden;
        justify-content: flex-start;
        padding: 1.5vh;
        width: 100vw;
        font-size: 30%;
        min-height: 100vh;
      
      
       
    }

    .web-footer-headline{
        flex: 1 1 auto;
        max-width: 80%;
        max-height: 12rem;
      
        
    }

    .web-footer-headline h2{
        font-size: 5em;
    }
    .web-footer-headline ul li{
        font-size: 4em;}

        .web-footer-headline ul{
            display: flex;
            flex-direction: row;
            list-style: none;
        }

    .web-footer-container{
        display: flex;
        flex-direction: column ;
        text-align: center;
        margin-bottom: 1vh;
        padding: 0;
    }

    .web-footer-input{
        height: 1em;
        max-height: 10vh;
        max-width: 50vw;
        display: flex;
        font-size: 4em;
        flex-direction: column;
       
    }
    .web-footer-input input{
      
        height: 0.5em;
        max-width: 40vw;
        margin-bottom: 1vh ;
       
    }

    .web-footer-input button{
        
        background: #FFD84D;
        border: none;
        border-radius: 2px;
        font-weight: bolder;
        font-size: 1.4em;
        line-height: 3rem;
        width: 100%;
        max-width: 200px;
        min-width: 150px;
    }

   

    .web-footer-container2{
     display: flex;
       flex-direction: column;
       justify-content: center;
    
    }
    .web-footer-fire, .web-footer-items{
        width: 100%
    }

    .web-footer-fire img{
        width: 30em;
        height: auto;
    }

    .web-footer-container2 .fire-alert{
        margin-top: 5vh;
      
    }

    .web-footer-items, .web-footer-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 100px;
    }

    .resources  {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-bottom: 0vh;

    }

    ul.resources.box{

        margin-bottom: 1vh;
    }

    .resources li{
        margin: 0 3vw;
    }

    .partners{
        display: flex;
        flex-direction: row;
        width: 100% ;
        justify-content: center;
        

    }

    .partners img{
        width: 50%;
        margin-left: 50%
    }

    .partners h2, .partners a{
        margin: 0 2vw;
        font-size: 5em;
    }

   

    .follow{
        width: 100%;
        
        

    }

    .follow h2{
        margin: 1rem;
        font-size: 5em;
    }
}

@media only screen and (max-width: 550px) {

    #feature-section .bottom .text-wrap,
    #feature-section .top .text-wrap{ 
   
        max-width: 40rem;
        margin-bottom: 10vh;
    }

    #feature-section .bottom img,
    #feature-section .top img{
        max-width: 40rem
    }

}