{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Error: Page Not Found</title>
		<link rel="stylesheet" href="{% static 'fireapp/css/404.css' %}" />
		<link
			rel="shortcut icon"
			type="image/jpg"
			href="{% static 'fireapp/images/images404/group 2 logo.svg' %}" 
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<main>
			<div class="container">
				<div class="message">
					<p>Something is missing here...</p>
					<p>We will have things restored soon, check back later!</p>
					<a href="{% url 'index' %}"><button class="btn">Home</button></a>
				</div>
				<div class="fire-elements">
					<img src="{% static 'fireapp/images/images404/group 2 404.png' %}" alt="text-404" class="text-404" />
					<img
						src="{% static 'fireapp/images/images404/fireman.png' %}"
						alt="fireman image"
						class="fireman"
					/>
				</div>
			</div>
			<img src="{% static 'fireapp/images/images404/flames.png' %}" alt="fire flames" class="flames" />
			<img src="{% static 'fireapp/images/images404/flames.png' %}" alt="fire flames" class="flames2" />
		</main>
	</body>
</html>