{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Frequently Asked Questions</title>
		<link rel="stylesheet" href="{% static 'fireapp/css/faq.css' %}"/>
		<link rel="shortcut icon" type="image/svg" href="{% static 'fireapp/images/group 2 logo.svg' %}" />
		<link rel="preconnect" href="https://fonts.gstatic.com"/>
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/a8d251cb18.js"
			crossorigin="anonymous"
		></script>
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"></script>
	</head>
	<body>

		{% for message in messages %}
       	<div class="alert alert-{{message.tags}}">
        	<h1>{{message}}</h1>
       	</div>
    	{% endfor %}

		<header>
			<nav>
				<div class="logo">
					<svg
						width="70"
						height="70"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						class="logo-img"
					>
						<circle cx="12" cy="14" r="6" fill="#F82508" />
						<circle cx="12" cy="11" r="4" fill="#FF974D" />
						<circle cx="11" cy="9" r="2" fill="#FFD84D" />
						<circle cx="12" cy="5" r="1" fill="#8B8899" />
					</svg>
				</div>

				<ul class="nav-ul">
					<li><a href="{% url 'homepage' %}" class="home">Home</a></li>
          			<li><a href="{% url 'about_us' %}" class="about">About Us</a></li>
         			<li><a href="{% url 'contact' %}" class="contact">Contact Us</a></li>
         			<li><a href="{% url 'faq' %}" class="faq" id="active">FAQ</a></li>
				</ul>
			</nav>
		</header>
		<section class="container">
			<div class="top-bar">
				<ul>
					<li><a href="{% url 'homepage' %}">Home</a></li>
					<li><a href="{% url 'about_us' %}">About Us</a></li>
					<li><a href="{% url 'contact' %}">Contact Us</a></li>
					<li><a href="{% url 'faq' %}">FAQ</a></li>
				</ul>
			</div>
			<div class="hero-wrapper">
				<h1>Frequently Asked Questions</h1>
				<h2>
					Please first review the previously asked most popular questions before
					submitting a new question
				</h2>
				<form class="hero-input" id="hero-form">
					<input type="text" id="hero-input-area" name="q" placeholder="Search" />
					<button class="hero-input-button" type="submit">Submit</button>
				</form>
			</div>
		</section>
		<main>
			<div class="accordian" id="replaceable-content">
				{% include './snippets/faq_question_snippet.html' %}
			</div>
		</main>
		<footer class="mobile-footer">
			<div class="mobile-footer-container">
				<div class="mobile-footer-wrapper">
					<svg
						width="90"
						height="90"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						class="mobile-footer-logo"
					>
						<circle cx="12" cy="14" r="6" fill="#F82508" />
						<circle cx="12" cy="11" r="4" fill="#FF974D" />
						<circle cx="11" cy="9" r="2" fill="#FFD84D" />
						<circle cx="12" cy="5" r="1" fill="#8B8899" />
					</svg>
					<div class="information-meta">
						<h3 class="fire-h3">Fire Alert</h3>
						<p>&copy; 2010 - 2020</p>
						<p>Privacy - Terms</p>
					</div>

					<ul class="resources-list">
						<li><a href="#">Resources</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<div class="partners">
						<h2>Partners</h2>
						<img 
							src="{% static 'fireapp/images/RESKILL-AMERICANS-ICON-1-small 1.png' %}"
							alt="Reskill Americans Logo"
						/>
					</div>
				</div>

				<div class="newsletter-follow-wrapper">
					<div class="newsletter-input">
						<h2 class="newsletter-h2">
							Subscribe to stay up to date on all the newest fires in your area.
						</h2>
						<input
							type="email"
							name="newsletter-input-area"
							id="newsletter-input-area"
						/>
						<button class="newsletter-input-button">Subscribe</button>
					</div>

					<div class="follow-us">
						<h2>Follow Us</h2>
						<div class="sm-icons">
							<i class="fab fa-facebook"></i>
							<i class="fab fa-instagram-square"></i>
							<i class="fab fa-twitter"></i>
							<i class="fab fa-pinterest"></i>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<footer class="web-footer">
			<div class="web-footer-container">
				<div class="web-footer-headline">
					<h2>
						Subscribe to stay up to date on all the newest fires in your area.
					</h2>
					<ul>
						<li>We will never send you spam</li>
						<li>All the latest news and statistics</li>
						<li>Updated shelter locations</li>
					</ul>
				</div>

				<form class="web-footer-input" method="POST">
					{% for form in newsletter_form %}
						{% csrf_token %}
						{{ newsletter_form }}
						{{ form.errors }}
					{% endfor %}
					<button class="web-footer-button">Subscribe</button>
				</form>
			</div>
			<div class="web-footer-container2">
				<div class="web-footer-fire">
					<img src="{% static 'fireapp/images/group 2 logo.svg' %}" alt="logo" />

					<div class="fire-alert box">
						<h3 class="fire-h3">Fire Alert</h3>
						<p>&copy; 2010 - 2020</p>
						<p>Privacy - Terms</p>
					</div>
				</div>
				<div class="web-footer-items">
					<div class="side-border"></div>
					<ul class="resources box">
						<li><a href="#">Resources</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<div class="side-border"></div>
					<div class="partners box">
						<h2>Partners</h2>
						<img
							src="{% static 'fireapp/images/RESKILL-AMERICANS-ICON-1-small 1.png' %}"
							alt="Reskill Americans Logo"
						/>
					</div>
					<div class="side-border"></div>
					<div class="follow box">
						<h2>Follow Us</h2>
						<div class="sm-icons">
							<i class="fab fa-facebook"></i>
							<i class="fab fa-instagram-square"></i>
							<i class="fab fa-twitter"></i>
							<i class="fab fa-pinterest"></i>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="{% static 'fireapp/js/app.js' %}"></script>
  		<script type="text/javascript" src="{% static 'fireapp/js/faq_search.js' %}"></script>
		<script type="text/javascript" src="{% static 'fireapp/js/faq.js' %}"></script>
	</body>
</html>